@import 'Variables';

html {
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
	scroll-padding-top: $scroll-padding-top;
}

body {
	color: #fff;
	font-family: 'InterTight', sans-serif;
	background: repeating-radial-gradient(
				circle at 70% 65%,
				transparent,
				transparent 5px,
				rgba(0, 0, 0, 0.055) 5px,
				rgba(0, 0, 0, 0.055) 60px
			)
			top left repeat,
		linear-gradient($gradient-colors);
	background-size: cover;
}

h1,
h2,
h3,
h5,
strong {
	text-wrap: balance;
}

strong {
	color: $accent-color;
}

::-webkit-scrollbar {
	width: 0.5rem;
	background-color: transparent;
	border-radius: 100vh;
}

::-webkit-scrollbar-track {
	background-color: $primary-bg-color;
}

::-webkit-scrollbar-thumb {
	background-color: $scrollbar-color;
	border-radius: 100vh;
}

::selection {
	background-color: $accent-color;
	color: #fff;
}

.box {
	width: 1080px;
	max-width: 98%;
	margin: 0 auto;
}

.hero {
	background-image: url('/imgs/slider/usaquen.webp');
}

.ul {
	&::-webkit-scrollbar-track {
		border-radius: 100vh;
	}
	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}
}

.shadowm {
	box-shadow: var(--shadow-elevation-medium);
	&:hover {
		box-shadow: var(--shadow-elevation-high);
	}
}

.scroll-w {
	&::-webkit-scrollbar-track {
		border-radius: 100vh;
		background-color: transparent;
	}
	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}
}

@include font-face('InterTight', '/fonts/InterTight-Medium.ttf', 500);
@include font-face('InterTight-Bold', '/fonts/InterTight-SemiBold.ttf', 800);
@include font-face('InterTight-Regular', '/fonts/InterTight-Regular.ttf', 400);
@include font-face(
	'InterTight-ExtraBold',
	'/fonts/InterTight-ExtraBoldItalic.ttf',
	900
);

@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}

.img {
	view-timeline-name: --image;
	view-timeline-axis: block;
	animation-timeline: --image;
	animation-name: show;
	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}

.logo {
	animation: ease-in-out animate-color;
	animation-timeline: view();
}

@media (max-width: 768px) {
	html {
		scroll-padding-top: var(--scroll-padding-top, 63px);
	}

	.box {
		max-width: 90%;
	}
}
