$primary-bg-color: hsl(253, 76%, 30%);
$accent-color: hsl(253, 76%, 50%);
$accent-hover-color: hsl(25, 97%, 39%);
$scrollbar-color: hsl(280, 100%, 30%);
$gradient-colors: to top, #2c1287, #311497, hsl(253, 76%, 37%), #3c19b8, #421cc9, #4a1aca,
	#5118cc, #5816cd, #5f0fbf, #6308b2;
$scroll-padding-top: var(--scroll-padding-top, 55px);

@mixin font-face($font-family, $font-path, $font-weight) {
	@font-face {
		font-family: $font-family;
		src: url('#{$font-path}') format('truetype');
		font-weight: $font-weight;
		font-style: normal;
		font-display: fallback;
	}
}
