---
import Layout from '../layouts/Layout.astro'
import { Title } from '../components/Title'
---

<Layout pageTitle='| 404, no lo he encontrado'>
  <main class='h-[100dvh] grid place-items-center w-[90%] mx-auto overflow-hidden'>
    <article
      class='text-center flex flex-col justify-center items-center gap-5 md:gap-16 bg-first-800/20 backdrop-blur-sm border-white border-2 px-4 py-6 md:p-[5rem] rounded-xl'
    >
      <Title />
      <h2 class='text-4xl md:text-5xl font-extrabold text-red-500 mb-3 md:mb-5'>
        404
      </h2>
      <h3 class='text-lg md:text-xl font-semibold text-red-50'>
        No encontro la página buscada. Esto puede ser porque:
      </h3>
      <ul
        class='[&>li>p]:md:text-lg [&>li>p]:text-lg [&>li>p]:font-medium [&>li>p]:text-first-50'
      >
        <li>
          <p>Hay un error en la URL del navegador.</p>
        </li>
        <li>
          <p>Ó</p>
        </li>
        <li>
          <p>La página buscada cambió de ubicación o fue eliminada.</p>
        </li>
      </ul>
      <p class='text-lg md:text-lg text-first-50'>
        Para volver a la página de inicio haz <a
          href='/'
          class='text-third-300 font-semibold hover:text-third-200 transition-colors duration-200'>clic aquí</a
        >.
      </p>
    </article>
  </main>
</Layout>
