---
import ListOfDb from '../components/ListOfDb.astro'
import Subtitles from '../components/Subtitles.astro'
import Hero from '../components/Carousel/Hero.jsx'
import Layout from '../layouts/Layout.astro'
import Cards from '../components/Cards.jsx'
---

<Layout pageTitle='| Inicio' pageDescription='Presentación Juan Poloche'>
	<main>
		<Hero client:load />
		<section id='mi-trayectoria'>
			<Subtitles subtitle='Mi trayectoria' />
			<Cards client:visible />
		</section>
		<section id='propuestas'>
			<ListOfDb />
		</section>
		<section id='mi-equipo-de-trabajo'>
			<Subtitles subtitle='Mi equipo de trabajo' />
		</section>
		<section id='section'>
			<Subtitles subtitle='Contacto' />
		</section>
	</main>
</Layout>
