---
import ListOfDb from '../components/Propuestas.astro'
import Subtitles from '../components/Subtitles.astro'
import Hero from '../components/Carousel/Hero.jsx'
import Layout from '../layouts/Layout.astro'
import Cards from '../components/Cards.jsx'
import Team from 'src/components/Team.astro'
import Header from 'src/components/Navbar/Header'
import Contact from 'src/components/Contact.astro'
import Social from 'src/components/Social.astro'
---

<Layout pageTitle='| Inicio' pageDescription='Presentación Juan Poloche'>
  <Header client:load />

  <main>
    <Hero client:load />
    <section id='mi-trayectoria'>
      <Subtitles subtitle='Mi trayectoria' />
      <Cards client:visible />
    </section>
    <section id='propuestas'>
      <ListOfDb />
    </section>
    <section id='mi-equipo-de-trabajo'>
      <Subtitles subtitle='Mi equipo de trabajo' />
      <Team />
    </section>
    <section id='contacto'>
      <Subtitles subtitle='Contacto' />
      <Contact />
    </section>
  </main>
  <Social />
</Layout>
