---
import Navigation from './Navigation'
---

<header
  class='h-full w-full sidebar sticky top-0 z-40 text-white shadow-black/50 shadow-sm'
>
  <nav
    class='w-full px-5 py-3 flex justify-between h-[4rem] absolute'
  >
    <div class='flex-grow basis-0 flex'>
      <a href='/' class='flex gap-3 w-fit'>
        <img
          src='/imgs/test-3.webp'
          alt='Logo Juan Poloche'
          loading='lazy'
          class='w-[13rem] h-[2.5rem] object-cover bg-white rounded-md'
        />
      </a>
    </div>
    <Navigation client:load />
  </nav>
  <div class='w-full bg-first-900/90 backdrop-blur-sm h-[4rem] relative top-0 left-0 z-[-1]'></div>
</header>
