---
import Navigation from "./Navigation";
import Whatsapp from "../Icons/Whatsapp.astro";

---
<header class="h-full w-full sidebar sticky top-0 z-40 text-white bg-pigment-indigo-800 shadow-black/50 shadow-sm">
  <nav class="w-full px-5 py-3 flex justify-between h-[4rem]">
    <div class="flex-grow basis-0 flex">
      <a href="/" class="flex gap-3 w-fit">
        <img src="/imgs/logo-jdp.webp" alt="Logo Juan Poloche" loading="lazy" class="w-auto h-full" />
        <div class="flex flex-col justify-center">
          <span class="block font-semibold text-lg">Juan</span>
          <span class="block font-semibold text-lg">Poloche</span>
        </div>
      </a>
    </div>
    <Navigation client:load/>
  </nav>

</header>
