<footer class='w-full pt-[1.5rem] md:pt-[4rem]'>
  <article
    class='py-[1.5rem] md:py-[4rem] border-t-2 border-t-white'
  >
    <header class='box'>
      <div class='flex-grow basis-0 h-full flex'>
        <a
          href='/#inicio'
          class='flex gap-3 w-fit h-full hover:scale-x-[1.01] transition-all duration-75'
        >
          <img
            src='/imgs/test-3.webp'
            alt='Logo Juan Poloche'
            loading='lazy'
            class='w-[20rem] h-[5rem] object-contain bg-white rounded-md'
          />
        </a>
      </div>
    </header>
  </article>
</footer>
