---
import { Instagram } from "./Icons/Instagram";
import { Whatsapp } from "./Icons/Whatsapp";

---


<div
  class='links flex flex-col h-fit md:flex-row bg-second-500 md:w-fit p-2 w-fit md:px-2 md:h-10 gap-2 md:gap-4 md:py-1 fixed bottom-3 right-3 md:right-3 rounded-lg shadow-lg hover:shadow-2xl [&>svg]:cursor-pointer'
  '
>
  <a
    href='https://www.instagram.com/juanpolocheq/'
    class='flex text-white w-6 md:w-10 items-center hover:bg-second-600 rounded-full'
    target='_blank'
    rel='noopener noreferrer'
    aria-label='Instagram'
  >
    <Instagram />
  </a>
  <a
    href='#'
    class='flex text-white items-center w-6 md:w-10 hover:bg-second-600 rounded-full'
    target='_blank'
    rel='noopener noreferrer'
    aria-label='WhatsApp'
  >
    <Whatsapp />
  </a>
</div>
