---
import { ViewTransitions } from 'astro:transitions'
import Navbar from '../components/Navbar/Navbar.astro'
import Sidebar from '../components/Navbar/Sidebar.astro'

interface Props {
  pageTitle?: string
  pageDescription?: string
}

const { pageTitle, pageDescription } = Astro.props
---

<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='description' content={pageDescription} />
    <meta name='generator' content={pageDescription} />
    <meta name='author' content='Esteban Mutis' />
    <meta
      name='keywords'
      content='política,
      noticias políticas,
      análisis político,
      elecciones,
      gobierno,
      políticos,
      sociedad,
      legislación,
      políticas públicas,
      debate político,
      edil,
      usaquén'
    />
    <meta name='theme-color' content='#481de2' />
    <title>Juan Poloche {pageTitle}</title>
    <link rel='icon' type='image' href='/imgs/test-minilogo-transparent.webp' />
    <link rel='manifest' href='/manifest.json' />
    <meta name='view-transitions' content='same-origin' />

    <script>
      window.addEventListener('load', () => {
        const imagesToPreload = ['/imgs/bg1.webp', '/imgs/bg2.webp', '/imgs/bg3.webp']

        imagesToPreload.forEach((imageUrl) => {
          const image = new Image()
          image.src = imageUrl
        })
      })
    </script>

    <script async src='https://www.googletagmanager.com/gtag/js?id=G-4HENYJB6RJ'></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-4HENYJB6RJ')
    </script>

    <ViewTransitions />
  </head>

  <body>
    <Navbar />
    <Sidebar />
    <slot />
  </body>
</html>

<style is:global>
	html {
		scrollbar-gutter: stable;
		scroll-behavior: smooth;
		scroll-padding-top: var(--scroll-padding-top, 40px);
	}
	
	body {
		background-color: hsl(275, 69%, 17%);
		color: #fff;
		font-family: 'InterTight', sans-serif;
	}

	h1,
	h2,
	h3,
	h5,
	p {
		text-wrap: balance;
	}

	::-webkit-scrollbar {
		width: 0.5rem;
		background-color: transparent;
	}

	::-webkit-scrollbar-track {
		border-radius: 100vh;
	}

	::-webkit-scrollbar-thumb {
		background-color: hsl(280, 100%, 30%);
		border-radius: 100vh;
	}

	::selection {
		background-color: hsl(280, 100%, 35%);
		color: #fff;
	}

	@font-face {
		font-family: 'InterTight';
		src: url('/fonts/InterTight-Medium.ttf')
			format('truetype');
		font-weight: 500;
	}

	@font-face {
		font-family: 'InterTight-Bold';
		src: url('/fonts/InterTight-SemiBold.ttf')
			format('truetype');
		font-weight: 800;
	}

	.box {
		width: 900px;
		max-width: 98%;
		margin: 0 auto;
	}

	h1 {
		line-height: 1;
	}

	@keyframes show {
		from {
			opacity: 0;
			scale: 25%;
		}

		to {
			opacity: 1;
			scale: 100%;
		}
	}

	img {
		width: 100%;
		height: auto;
	}

	img {
		view-timeline-name: --image;
		view-timeline-axis: block;

		animation-timeline: --image;
		animation-name: show;

		animation-range: entry 25% cover 30%;
		animation-fill-mode: both;
	}

	@media (max-width: 768px) {
		html {
			scroll-padding-top: 45px;
		}
		
		.navbar {
			display: none;
		}
		
		.sidebar {
			display: block;
		}

		.box {
			max-width: 90%;
		}
	}

	@media (min-width: 768px) {
		.sidebar {
			display: none;
		}

		.navbar {
			display: block;
		}
	}
</style>

<script>
	if ('serviceWorker' in navigator) {
		window.addEventListener('load', () => {
			navigator.serviceWorker.register('/service-worker.js').catch((error) => {
				console.log('Error al registrar el Service Worker:', error)
			})
		})
	}
</script>
