---
import '../styles/Global.scss'

interface Props {
  pageTitle?: string
  pageDescription?: string
}

const { pageTitle, pageDescription } = Astro.props
---

<!DOCTYPE html>
<html lang='es-CO'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='description' content={pageDescription} />
    <meta name='generator' content={pageDescription} />

    <meta property='og:type' content='website' />
    <meta
      property='og:title'
      content='Juan Poloche, próximo edil de Usaquén'
    />
    <meta
      property='og:description'
      content='Conoce las propuestas de Juan Poloche para los comerciantes y jóvenes de Usaquén. Juntos podemos lograr un mejor futuro para nuestro sector.'
    />
    <meta property='og:image' content='/imgs/og-image.webp' />
    <meta property='og:url' content='https://juanpoloche.com' />
    <meta property='og:site_name' content='Juan Poloche' />
    <meta property='og:locale' content='es_CO' />
    <meta property='og:article:author' content='Esteban Mutis' />
    <meta property='og:article:section' content='Política' />
    <meta property='og:article:tag' content='Elecciones' />
    <meta property='og:article:tag' content='Usaquén' />
    <meta property='og:article:tag' content='Edil' />

    <link rel='canonical' href='https://juanpoloche.com' />

    <meta name='author' content='Esteban Mutis' />
    <meta
      name='keywords'
      content='política,
      noticias políticas,
      análisis político,
      elecciones,
      gobierno,
      políticos,
      sociedad,
      legislación,
      políticas públicas,
      debate político,
      edil,
      usaquén'
    />
    <meta name='theme-color' content='#301691' />
    <!-- Facebook Meta Tags -->
    <meta property='og:url' content='https://juanpoloche.com' />
    <meta property='og:type' content='website' />
    <meta
      property='og:title'
      content='Juan Poloche, próximo edil de Usaquén'
    />
    <meta
      property='og:description'
      content='Conoce las propuestas de Juan Poloche para los comerciantes y jóvenes de Usaquén. Juntos podemos lograr un mejor futuro para nuestro sector.'
    />
    <meta
      property='og:image'
      content='https://juanpoloche.com/imgs/og-image.webp'
    />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='juanpoloche.com' />
    <meta property='twitter:url' content='https://juanpoloche.com' />
    <meta
      name='twitter:title'
      content='Juan Poloche, próximo edil de Usaquén'
    />
    <meta
      name='twitter:description'
      content='Conoce las propuestas de Juan Poloche para los comerciantes y jóvenes de Usaquén. Juntos podemos lograr un mejor futuro para nuestro sector.'
    />
    <meta
      name='twitter:image'
      content='https://juanpoloche.com/imgs/og-image.webp'
    />

    <title>Juan Poloche {pageTitle}</title>
    <link rel='icon' type='image' href='/favicon-border.webp' />
    <link rel='manifest' href='/manifest.json' />

    <script src='../hooks/preload.js'></script>

    <script async src='https://www.googletagmanager.com/gtag/js?id=G-4HENYJB6RJ'
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-4HENYJB6RJ')
    </script>
  </head>

  <body>
    <slot />
  </body>
</html>
